<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
    <a href="#" style="background:url({{ site.baseurl }}/assets/img/top.png) 0% 0% / cover" id="myBtn" title="Go to top"></a>
  </body>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
  </script>
</html>
